# Ignore .local directory containing launch configurations
.local/

# Ignore maven build directory 'target'
target/

# Ignore eclipse' pseudo 'poms' directory
poms/

# Ignore generated buildnumber file
buildNumber.properties

